<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="airlineticketing.Listeners"/>
</listeners>

  <test name="Validating home Page">
    <classes>
      <class name="airlineticketing.HomePageTest"/>
          </classes>
      </test>
</suite>
